.App {
  position: relative;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.resourceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  padding: 30px;
}

.editorWrapper {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
  padding: 12px;
}

.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 8px;
  background-color: #f4f8fb;
}

.appContainer {
  background-color: #f4f8fb;
}

.blockWrapper {
  margin: 8px;
  padding: 16px;
  background-color: #FFF;
  border-radius: 14px;
}

.searchBlock {
  display: flex;
  width: 100%;
}

.editor {
  display: flex;
  height: 92vh;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

.footer {
  background-color: #f4f8fb;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyContainer {
  margin: 8px;
  padding: 16px;
  background-color: #FFF;
  border-radius: 14px;
}
