.App {
  position: relative;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 12px;
  min-width: 50px;
  min-height: 50px;
  color: #ffffff;
  background-color: #f27d16;
  border: 0px;
  border-radius: 8px;
}

button:hover {
  background-color: #f25d07;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.input {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #03588C; */
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
}

.input:focus {
  border: 2px solid #f25d07;
  outline: none;
  box-shadow: 0 0 8px rgba(242, 68, 164, 0.6);
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.resourceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  padding: 30px;
}

.editorWrapper {
  padding-top: 12px;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
  padding: 12px;
  background-color: #f4f8fb;
}

.searchBlock {
  display: flex;
  width: 100%;
}

.editor {
  display: flex;
  height: 92vh;
}

.logo {
  width: 50px;
  border-radius: 8px;
}

.footer {
  background-color: #f4f8fb;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
